$primaryColor: #7BF762;

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import "mixins.scss";

body {
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(5, 21, 68);
    height: 100%;
    width: 100%;

    .container {
        height: auto;
        width: auto;
        border-radius: 8px;
        margin: 2.2vw;
        border: 1px solid $primaryColor;
        box-sizing: border-box;
        padding: 2vw;
        display: flex;
        flex-direction: column;

        @include device (mobile) {
            margin: 10px;
            padding: 10px;
            border-radius: 6px;
        }

        header {
            height: 31.65px;
            line-height: 31.65px;
            text-align: center;
            margin-top: 7px;

            @include device (mobile) {
                    margin: 0;
                }
            @include device (tablet) {
                margin: 5px;
            }
        
            h1 {
                font-family: Roboto Mono;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 0.15em;
                text-align: center;
                color: $primaryColor;
                margin: 0;
                padding: 0;

                @include device (mobile) {
                    font-size: 18px;
                    letter-spacing: 0;
                }
                @include device (tablet) {
                    font-size: 22px;
                    letter-spacing: 0.1em;
                }
            }
        }

        #body-container {
            display: flex;
            flex-direction: row;
            width: auto;
            margin: 0;
            padding: 0;
            gap: 2vw;

            @include device (mobile) {
                display: flex;
                flex-direction: column;
                gap: 3vw;
            }

            @include device (tablet) {
                display: flex;
                flex-direction: column;
                gap: 2vw;
            }

            aside {
                margin-top: 78px;

                @include device (mobile) {
                    margin: 0;
                }

                @include device (tablet) {
                    margin: 0;
                }
            }
        }
    }
}

.category-section {
    margin-top: 46px;

    @include device (mobile) {
        margin-top: 25px;
    }

    @include device (tablet) {
        margin-top: 40px;
    }
}

section {
    .section-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.74px;
        letter-spacing: 10%;
        color: $primaryColor;
        margin: 8px 0;
        
        @include device (mobile) {
            font-size: 14px;
            letter-spacing: 0;
            line-height: 18px;
        }
        @include device (tablet) {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }
    }
    .section-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2vw;
    }
}

.radio-button { 
    
    input {
        display: none;
    }

    input:checked + span  {
        border: 1px solid $primaryColor;
        box-shadow: 0 0 4px $primaryColor;
        color: $primaryColor;
    }

    input:checked + .input-span p {
        color: $primaryColor;
    }

    input:checked + .input-span li {
        color: $primaryColor;
    }

    .input-span {
        border: 1px solid rgb(90, 143, 79);
        display: block;
        border-radius: 8px;
        cursor: pointer;
        
        @include device (desktop) {
            width: 11vw;
        }

        @include device (tablet) {
            width: 20vw;
        }

        .item-details {
            margin: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .color-div {
                height: 32px;
                width: 64px;
                border-radius: 8px;
    
                @include device (mobile) {
                    min-height: 26px;
                    width: 52px;
                    border-radius: 5px;
                }
            }
    
            #snow {
                background-color: rgb(255, 255, 255);
            }
            #volcano {
                background-color: rgb(255, 122, 0);
            }
            #sky {
                background-color: rgb(107, 228, 255);
            }
    
            p {
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: 400;
                line-height: 10px;
                letter-spacing: 10%;
                word-spacing: 2px;
                margin: 0;
                color: rgb(90, 143, 79);
            }
            .item-price {
                font-size: 12px;
                margin-top: 16px;
    
                @include device (mobile) {
                    margin-top: 12px;
                    font-size: 11px;
                }
            }
            .item-title {
                font-size: 14px;
    
                @include device (mobile) {
                    font-size: 12px;
                }
            }
            .color-price {
                margin-bottom: 16px;
                margin-top: 8px;
                font-size: 12px;
    
                @include device (mobile) {
                    margin-bottom: 10px;
                    font-size: 11px;
                }
            }
            .package-price {
                margin-top: 8px;
                font-size: 14px;
    
                @include device (mobile) {
                    margin-bottom: 10px;
                    font-size: 11px;
                }
            }
        }
        .of-package {
            height: 38px;

            @include device (mobile) {
                height: 30px;
            }
        }
    }
}

.package-details {
    margin: 0;
    width: 100%;
    height: 129px;
    background-color: rgb(28, 60, 22);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1vw 5%;
    box-sizing: border-box;

    @include device (mobile) {
        padding: 5px 3px;
        height: 110px;
    }

    @include device (tablet) {
        padding: 1vw;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        li {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 400;
            line-height: 10px;
            font-size: 12px;
            color: rgb(90, 143, 79);
            margin-bottom: 6px;
            display: flex;
            flex-direction: row;

            @include device (mobile) {
                font-size: 9px;
                letter-spacing: 0;
            }
        }
    }
}

.display {
    background-color: rgb(28, 60, 22);
    border: 1px solid $primaryColor;
    border-radius: 8px;
    box-sizing: border-box;

    @include device (mobile) {
        width: 100%;
        border-radius: 6px;
    }

    .details {
        padding: 2px 16px;
        display: flex;
        flex-direction: row;
        gap: 2vw;

        @include device (mobile) {
            padding: 5px 12px;
            justify-content: space-between;
        }
        @include device (tablet) {
            justify-content: space-between;
        }

        .detail-price-list {
            width: 70px;

            @include device (mobile) {
                width: 70px;
            }
        }

        ul {
            list-style: none; 
            margin: 0;
            padding: 0;
            height: 178px;

            @include device (mobile) {
                height: auto;
            }

            li { 
                display: flex;
                margin: 14px 0;
                
                span {
                    font-family: Roboto Mono;
                    font-style: normal;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0.1em;

                    @include device (tablet) {
                        font-size: 16px;
                    }

                    @include device (mobile) {
                        line-height: 16px;
                    }
                }
                .detail-name {
                    color: $primaryColor;
                }
                .detail-price {
                    color: #FFFFFF;
                }
            }
        }
    }

    .total {
        border-top: 1px solid $primaryColor;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 23px 16px;

        @include device (mobile) {
            padding: 12px 16px;
        }

        span {
            font-family: Roboto Mono;
            font-style: normal;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.1em;
            width: 70px;

            @include device (mobile) {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }
        }
        .detail-name {
            color: $primaryColor;
        }
        .detail-price {
            color: rgb(255, 255, 255);
        }
    }
}